.navbar {
    justify-content: center;
    gap: 20px;
    background-color:#242526;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: white;
    padding: 14px 16px;
}
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
a:hover {
    background-color: black;
}


.homeButton {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: content-box;
    box-shadow: inset;
}

.homeButton:hover {
    color: red;
}
