.navbar {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.homeButton {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: content-box;
    box-shadow: inset;
}

.homeButton:hover {
    color: red;
}