.aTable {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.aTableHeader{
    height: 100%;
    background-color: black;
}

.smallTableHeaderCell{
    color: whitesmoke;
    font-size: small;
}