.router{
  justify-content: left;
  gap: 30px;
  background-image: url('./Assets/Images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}